.page{
    max-width: 1198px;
    height: auto;
    margin: 0 auto;
}
.page .page__header{}
.page .page__shadow{}
.page .page__main{
    margin-bottom: 155px;
}
.header{
    background-image: url(../images/header.png);
    width: 100%;
    height: 647px;
    background-position: center;
    background-repeat: no-repeat;
}
.header .header__title{
    padding-top: 60px;
    padding-left: 45px;
    font-family: 'Myriad Pro Regular', sans-serif;
    font-size: 59px;
    font-weight: 600;
    line-height: 82%;
    color: rgb(255, 198, 0);
}
.header .header__title--white{color: rgb(255, 255, 255);;padding-top: 0;}
.header .header__nav{
    padding-top: 55px;
    padding-left: 48px;
}
.nav{}
.nav .nav__title{
    line-height: 0;
    text-indent: -10000px;
}
.nav .nav__list{
}
.nav .nav__item{
    float: left;
    margin-right: 50px;
}
.nav .nav__link{
    font-size: 18px;
    font-family: "Myriad Pro Regular", sans-serif;
    color: rgb(255, 198, 0);
    line-height: 1.2;
    text-align: left;
}
.nav .nav__link:hover {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 198, 0);
    padding-bottom: 1px;
}
.shadow{
    content: "";
    height: 3px;
    width: 99.5%;
    background-color: black;
}
.main{
    width: 100%;
    height: fit-content;
}
.main .main__about{
    margin-bottom: 126px;
}
.main .main__albums{}
.main .main__buy{}
.main .main__footer{}
.about{
    width: 100%;
}
.about .about__container{
    margin-left: 10.8%;
    margin-top: 69px;
}
.about .about__vertical{
    margin-top: 44px;
    margin-left: 8%;
    margin-right: 3%;
}
.about .about__horizontal{
    margin-top: 5.5px;
    margin-left: 150px;
}
.about .about__text-container{}
.about .about__flex{
    margin: 81px 7% 0 5%;
}
.container{float: left;width: 400px;}
.container .container__name{
    font-size: 50px;
    font-family: "Myriad Pro Semibold", sans-serif;
    color: rgb(113, 113, 113);
    line-height: 0.7;
    padding-left: 7px;
}
.container__name .container__name--small{
    font-size: 30px;
}
.container .container__title{
    font-size: 80px;
    font-family: "Myriad Pro Bold", sans-serif;
    color: rgb(255, 198, 0);
    font-weight: bold;
    line-height: 0.77;
}
.container__title .container__title--black{
    color: black;
}
.horizontal{border-top: 1px solid #c5c5c5;width: 133px;}
.vertical{
    border-right: 1px solid #c5c5c5;
    height: 133px;
    float: left;
}
.text-container{
    float: left;
    width: 50%;
}
.text-container .text-container__upper{
    font-size: 16px;
    font-family: "Myriad Pro Regular", sans-serif;
    color: rgb(0, 0, 0);
    font-style: italic;
    line-height: 1.2;
    padding-top: 30px;
    margin-bottom: 16px;
}
.text-container .text-container__lower{
    font-size: 14px;
    font-family: "Myriad Pro Regular", sans-serif;
    color: rgb(0, 0, 0);
    padding-left: 3.2%;
}
.clearfix{
    content: "";
    clear: both;
    display: block;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.flex__box{}
.box{
    text-align: center;
    width: 230px;
}
.box .box__image{
    background-color: #e8e8e8;
    border: 2px solid #ffa800;
    border-radius: 50%;
    padding: 9px;
    width: 33px;
    height: 35px;
    margin-bottom: 16px;
}
.box .box__title{
    font-size: 18px;
    font-family: "Myriad Pro Regular", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    margin-bottom: 18px;
}
.box .box__text{
    font-size: 10px;
    font-family: "Myriad Pro Regular", sans-serif;
    color: rgb(0, 0, 0);
    font-style: italic;
    line-height: 1.2;
}

.albums{}
.albums .albums__container{
    margin-left: 6.5%;
}
.albums .albums__horizontal{
    margin-left: 115px;
}
.albums .albums__title{
    font-size: 50px;
    font-family: "Myriad Pro Bold", sans-serif;
    color: rgb(255, 198, 0);
    font-weight: bold;
    line-height: 1.2;
}
.albums__title .albums__title--black{color: black;}
.albums .albums__albums{font-size: 9px;font-family: "Myriad Pro Regular", sans-serif;color: rgb(16, 16, 16);line-height: 1.2;margin-top: 15px;margin-bottom: 23px;}
.albums__discography{}
.discography{}
.discography .discography__item{
    width: 25%;
    object-fit: cover;
    height: auto;
    float: left;
}
.discography .discography__item:hover{
    transition: transform 1s;
    transform: scale(1.2);
}

.buy{
    width: 100%;
}
.buy .buy__container{
    margin-top: 54px;
    margin-left: 6.5%;
}
.buy .buy__title{
    font-size: 50px;
    font-family: "Myriad Pro Bold", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    color: rgb(255, 198, 0);
}
.buy__title .buy__title--black{
    color: black;
}
.buy .buy__button{
    margin-top: 53px;
    margin-left: 6.4%;
}
.buy .buy__horizontal{
    margin-left: 111px;
    margin-top: -1px;
}
.buy .buy__amphitheatre{}
.button{
    border-radius: 5px;
    background-color: rgb(255,204,0);
    box-shadow: 0 14px 15.66px 2.34px rgba(0, 0, 0, 0.08);
    width: 296px;
    height: 66px;
    font-size: 24px;
    font-family: "Myriad Pro Bold", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}
.amphitheatre{width: 100%;height: auto;margin-top: 40px;display: none;position: relative;}
.amphitheatre .amphitheatre__image{
    border-width: 4.43px;
    border-color: rgb(255, 204, 0);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    opacity: 0.29;
    box-shadow: 0 15px 46.74px 10.26px rgba(0, 0, 0, 0.11);
    padding: 67px 2% 63px;
    display: block;
    margin: 0 auto;
}
.buy__amphitheatre--open{
    display: block;
}
.amphitheatre .amphitheatre__close{
    font-family: "Myriad Pro Regular", sans-serif;
    position: absolute;
    top: 25px;
    right: 114px;
    font-size: 32px;
    font-weight: bold;
    color: rgba(102, 102, 102, 0.412);
    cursor: pointer;
}

.footer{height: 680px;width: 100%;display: flex;}
.footer .footer__map{
    width: 41.74%;
    height: inherit;
}
.footer .footer__form{
    background-color: #2046b3;
    width: 58.25%;
    height: inherit;
}
.footer .footer__contacts{
    padding-left: 6.3%;
    padding-top: 45px;
    width: 58.26%;
}
.contacts{
    background-color: #2046b3;
    box-sizing: border-box;
}
.contacts .contacts__title{
    font-size: 47px;
    font-family: "Myriad Pro Regular", sans-serif;
    color: rgb(255, 198, 0);
    line-height: 1.1;
}
.contacts .contacts__container{
    margin-left: 3.7%;
    border-bottom: 4px solid #c5c5c5;
    padding-right: 16px;
    width: fit-content;
    margin-bottom: 16px;
}
.contacts .contacts__form{}
.contacts .contacts__table{
    margin-top: 102px;
    margin-left: 24px;
}
.contacts__title .contacts__title--black{
    color: white;
}
.form{
    width: 412px;
}
.form .form__input{
    width: 100%;
    border: 3px solid #c5c5c5;
    margin-bottom: 18px;
    height: 36px;
    padding-left: 13px;
    font-size: 16px;
    font-family: "Myriad Pro Regular", sans-serif;
    color: #c5c5c5;
    line-height: 1.2;
    box-sizing: border-box;
    background-color: #2046B3;
}
.form .form__input--short{width: 160px;}
.form .form__input:nth-child(3){
    margin-right: 45px;
}
.form .form__input:nth-child(4){
    width: 207px;
}
.form .form__input:nth-child(6){height: 77px;margin-top: -7px;}
.form .form__input::placeholder{color: #c5c5c5;}
.form .form__input:hover{cursor: text;}
.form .form__input:focus{background-color: white;}
.form .form__input[type=text]{color: gray;}
.form .form__button--small{
    color: black;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    padding: 8px 18px;
    margin-top: 2px;
    border-radius: 0;
}
.form .form__button--small:hover{
    transition: background-color 0.5s;
    background-color: white;
}
.table{
    color: white;
    font-family: "Myriad Pro Сondensed", sans-serif;
    font-size: 16px;
}
.table .table__row{height: 34px;}
.table .table__head{
    text-align: left;
    width: 76px;
    vertical-align: middle;
}
.table .table__data{
    text-align: left;
    vertical-align: middle;
}